<% @shelter_pets.pets.each do |pet| %>
  <p id="pet_pic"><%= image_tag pet.image %></p>
  <p id="pet_info"><%= pet.name %>
  <%= pet.age %>
  <%= pet.sex %></p>
<% end %>

<%= button_to  'Add new pet', "pets/new", method: :get %>
