<% @shelter_pets.pets.each do |pet| %>
  <p id="pet_pic"><%= image_tag pet.image %></p>
  <p id="pet_info">Name: <%= pet.name %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
<% end %>

<%= button_to  'Add new pet', "pets/new", method: :get %>
