<% @shelter_pets.pets.each do |pet| %>
  <p><%= image_tag pet.image %></p>
  <p>Name: <%= link_to pet.name, "pets/#{pet.id}" %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex.first.upcase %></p>
  <p>Description: <%= pet.description %></p>
  <p>Status: <%= pet.status %>
  <p><%= button_to  "Update Pet", "/pets/#{pet.id}/edit", method: :get %></p>
<% end %>

<%= button_to  "Create Pet", "pets/new", method: :get %>
