<h1><%= @shelter.name %></h1>
<p>
  <%= @shelter.address %><br>
  <%= @shelter.city %>
  <%= @shelter.state %>
  <%= @shelter.zip %>
</p>

<%= form_tag("/shelters/#{@shelter.id}/edit", method: :get) do %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= form_tag( '/shelters', method: :get) do%>
  <%= submit_tag 'Back to Shelter List' %>
<% end %>

<%= form_tag("/shelters/#{@shelter.id}", method: :delete) do %>
  <%= submit_tag 'Delete Shelter' %>
<% end %>
