<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p>
<%= "#{@shelter.city}, " %>
<%= @shelter.state %>
<%= @shelter.zip %>
</p>

<%= button_to 'Edit', "/shelters/#{@shelter.id}/edit", method: :get %>
<%= button_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
<%= button_to 'Back to Shelter List', '/shelters', method: :get %>
