<p><%= image_tag @pet.image %></p>
<h1><%= @pet.name %></h1>
<p>Pet name: <%= @pet.name %></p>
<p>Description: <%= @pet.description %>
<p>Pet age: <%= @pet.age %></p>
<p>Pet sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>
